@use "../sass/components";
//color: components.$color-main;
body{
    background-color: #EACBD2 !important;
}
.home{
    @include components.sections();
}
.kindWorks{
    margin: 5rem 0;
    min-height: 15rem;
    background-color: components.$color-main-dark;
    display: flex;
    align-items: center;
    justify-content: space-around
}
.whoami{
    margin: 10rem 0;
    padding: 5rem 0;
    min-height: 20rem;
    display: flex;
    align-items: center;
    
    .feature{
        width: 50%;
    }
    .imagen img{
        max-width: 30rem;
        display: flex;
        margin: 0 0 0 auto;
    }
}

.works{

}
.contact{

}